{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true
	},
	"globals": {
		"__app": false,
		"__root": false,
	},
	"plugins": [
		"react"
	],
	"ecmaFeatures": {
		"jsx": true
	},
	"rules": {
		"quotes": [1, "single"],
		"curly": 0,
		"comma-dangle": 0,
		"no-shadow": 0, // "json is already declared uppercase"
		"no-trailing-spaces": 0, // "trailing spaces are not allowed"
		"no-underscore-dangle": 0, // "_ in _json is not allowed"
		"consistent-return": 0,
		"no-unused-vars": [1, {
			"vars": "all", // warn
			"args": "none"
		}],
		
		// warnings instead of errors
		"camelcase": 1,
		"no-debugger": 1,
		"no-multi-spaces": 1,
		"no-empty": 1,
		"no-mixed-requires": 1,
		"semi": 1,

		// es6
		"constructor-super": 1,
		"no-this-before-super": 1,
		"no-var": 0,
		"object-shorthand": 0, // force to use method(){} instead of method: function(){}
		"prefer-const": 1,


		// "no-mixed-requires": [0],
		// "no-underscore-dangle": [0],
		// "react/display-name": 1,
		// "react/jsx-boolean-value": 1,
		// "react/jsx-no-undef": 1,
		// "react/jsx-quotes": 1,
		// "react/jsx-sort-prop-types": 1,
		// "react/jsx-sort-props": 1,
		// "react/jsx-uses-react": 1,
		// "react/jsx-uses-vars": 1,
		// "react/no-did-mount-set-state": 1,
		// "react/no-did-update-set-state": 1,
		// "react/no-multi-comp": 1,
		// "react/no-unknown-property": 1,
		// "react/prop-types": 1,
		// "react/react-in-jsx-scope": 1,
		// "react/require-extension": 1,
		// "react/self-closing-comp": 1,
		// "react/sort-comp": 1,
		// "react/wrap-multilines": 1
	}
}
