{
	"parser": "babel-eslint",
	"env": {
		"node": true
	},
	"rules": {
		"quotes": [1, "single"],
		"curly": 0,
		"comma-dangle": 0,
		"no-shadow": 0, // "json is already declared uppercase"
		"no-trailing-spaces": 0, // "trailing spaces are not allowed"
		"no-underscore-dangle": 0, // "_ in _json is not allowed"
		"consistent-return": 0,
		"no-unused-vars": [1, {
			"vars": "all", // warn
			"args": "none"
		}],
		
		// warnings instead of errors
		"camelcase": 1,
		"no-debugger": 1,
		"no-multi-spaces": 1,
		"no-empty": 1,
		"no-mixed-requires": 1,
		"semi": 1,

		// es6
		"constructor-super": 1,
		"no-this-before-super": 1,
		"no-var": 1,
		"object-shorthand": 1,
		"prefer-const": 1
	}
}
