# Project
/dist/
/types/

# Node and related ecosystem
# ==========================
npm-debug.log
node_modules/
coverage/
.nyc_output/
*.tgz

# IDE's
# =====
.vscode/

# OS-specific
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

